
@{
    ViewBag.Title = "درباره ما";
    string fullName = ViewBag.Name + " " + ViewBag.Family;
}

<div class="jumbotron text-center">
    <h3> <i style="background-color: black; color: white; padding: 0px 10px 0px 10px;">@fullName</i> به سایت ما خوش آمدی  </h3>
</div>
